<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/tailwind.css" rel="stylesheet" type="text/css" />
    <link href="/static/daisyui.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/htmx.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
  </head>

  <body class="bg-gray-700">
    <!-- Load the nav bar template using HTMX -->
    <div
      hx-get="/templates/nav-bar.html"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>

    <div class="flex">
      <div
        class="w-1/2 overflow-y-auto"
        hx-get="/api/soundcloud/stream"
        hx-trigger="load"
        hx-swap="innerHTML"
      ></div>
      <!-- <div
        class="w-1/2 overflow-y-auto"
        hx-get="/api/soundcloud/favorites"
        hx-trigger="load"
        hx-swap="innerHTML"
      >
      </div> -->
    </div>

    Loading...
  </body>
</html>
