<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/tailwind.css">
    <link href="/static/daisyui.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    <h1>{{ .Title }}</h1>
    <div id="tracks"></div> <!-- This is where tracks will be injected -->

    <!-- HTMX attributes to fetch data from the API -->
    <div hx-get="/api/soundcloud/stream" hx-trigger="load" hx-swap="innerHTML">
        Loading...
    </div </body>

</html>