<div class="overflow-x-auto">
  <div class="grid grid-cols-1 gap-4">
    {{range $index, $item := .Collection}}
    <a
      href="{{$item.Track.PermalinkURL}}"
      target="_blank"
      class="no-underline hover:underline"
    >
      <div
        class="card card-side m-1 rounded shadow-xl bg-gray-800 bg-opacity-75 flex min-h-full"
      >
        <figure class="basis-1/2 p-0 m-0 flex items-center justify-center">
          {{ if $item.Track.ArtworkURL}}
          <img
            src="{{$item.Track.ArtworkURL}}"
            title="artwork"
            class="w-full h-auto"
          />
          {{ else }}
          <img
            src="/static/placeholder.svg"
            title="placeholder"
            class="fill-container mx-auto"
          />
          {{ end }}
        </figure>
        <div class="basis-1/2 pl-4 flex flex-col justify-between">
          <span class="normal-case text-xl"> {{$item.Track.Title}} </span>
          <div class="flex items-center gap-2">
            <div class="avatar mr-2">
              <div class="w-6 rounded-full">
                <img
                  src="{{$item.User.AvatarURL}}"
                  alt="Avatar"
                  class="rounded-full w-7 h-8"
                />
              </div>
            </div>
            {{$item.User.Username}} {{ if eq $item.Type "track-repost"}}
            <img
              src="/static/repost.svg"
              title="repost"
              class="w-4h-r ml-1 text-gray-400"
            />
            <div class="avatar pt-2">
              <div class="w-8 rounded-full">
                <img
                  src="{{$item.Track.User.AvatarURL}}"
                  title="avatar"
                  class="rounded-full w-8"
                />
              </div>
            </div>
            {{$item.Track.User.Username}} {{ end }}
          </div>
          <div class="flex flex-row gap-2 my-2">
            <div class="badge badge-lg">{{$item.Track.DurationText}}</div>
            <div class="badge badge-outline">{{$item.Track.TimePassed}}</div>
            {{ if $item.Track.Genre }}
            <div class="badge badge-primary">{{ $item.Track.Genre }}</div>
            {{ end }}
          </div>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</div>
